# python residue
**/__pycache__
*.pyc

# PDF
*.pdf

# IDE auxiliary directories
*.idea

# latex auxiliary files
*.aux
*.toc
*.log
*.xml
*.nav
*.vrb
*.snm

# stray swap vim files
*.swp

# Executables
*.o
*.out
*.exe
